@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.divTrigun{
    width: 90vw;
    height: 35vh;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
    justify-content:space-between ;
    background: linear-gradient(153.39deg, #F9a8D4 -13.9%, #F472B6 58.69%);
}
.imgPersCampRoja{
    position: relative;
    width: 250px;
    height: 280px;
    top:-35px;
    
}
.portadaImagen{
    position: relative;
    width: 180px;
    border-radius: 6px;
    top:-35px;
}

.seccionTexto{
    width: 500px;
    padding-right: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.tituloTrigun{
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    font-style: normal;
    display: flex;
    align-items: center;
}
.subtituloTrigun{
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12px;
    font-style: normal;
    display: flex;
    align-items: center;
    
}
.textoTrigun{
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    font-style: normal;
    display: flex;
    align-items: center;
    
}
@media (max-width:900px){
    .divTrigun{
       display:none;
    }

    
}