*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.app-container{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
}